@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    background-color: black;
}

header {
    padding-left: 10%;
    padding-right: 10%;
    margin: 0 auto;
    padding-top: 30px;
    background: linear-gradient(to right, #111111, #777777);
}

/* navber style */
nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 50px;
    border: 1px solid gray;
    padding: 0px 10px 0px 0px;
}

#btn {
    background-color: #E6533C;
    padding: 5px 14px;
    border-radius: 50px;
    margin: 0;
}

nav h1 {
    color: #E6533C;
    font-style: italic;
    font-weight: bold;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
}

.icon {
    display: none;
}

/* banner section style */
.banner {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    color: white;
}

.banner-img {
    height: 580px;
    width: 349px;
    position: relative;
}

.banner-description {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.banner-description h1 {
    font-size: 4rem;
}

p {
    color: gray;
}

.banner-description .btn button {
    background-color: #E6533C;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: bold;
}

.btn-bg-none {
    background: linear-gradient(to right, #111111, #777777);
    border: 1px solid white;
}

.card {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    color: #fff;
    position: absolute;
    bottom: 50px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.sercal {
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 50px;
}

.card-2 {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    color: #fff;
    position: absolute;
    left: 180px;
    top: 180px;
    padding: 5px;
    border-radius: 5px;
}

.banner-img p {
    color: white;
    font-size: 12px;
    font-weight: bold;
}

/* style Habits section */
.Habits {
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
    text-align: center;
}

.Habits h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

.habits-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
}

.habits-img h3 {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.habits-img img {
    border-radius: 100%;
}


/* card section style */
.run-card {
    width: 80%;
    margin: 0 auto;
    background: #222222;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    gap: 70px;
    padding: 20px;
    border-radius: 20px;
}

.card-img {
    height: auto;
    width: 30%;
    background-image: url("../images/run.jpg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.card-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.card-text h1 {
    font-size: 2rem;
    color: white;
    font-weight: bold;
}

.card-text button {
    padding: 10px 50px;
    background-color: #E6533C;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    margin-top: 10px;
}


/* training section style */
.Training {
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
}

.Training h1 {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 250px);
}

.a {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.b {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.c {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.d {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.e {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.f {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
}


.item {
    background-size: cover;
    background-position: center;
    position: relative;
    color: black;
    padding: 15px;
    font-weight: bold;
}

.a {
    background-image: url("../images/exercise1.jpg");
}

.b {
    background-image: url("../images/exercise2.png");
}

.c {
    background-image: url("../images/exercise3.png");
}

.d {
    background-image: url("../images/exercise4.png");
}

.e {
    background-image: url("../images/exercise5.jpg");
}

.f {
    background-image: url("../images/exercise6.jpg");
}

/* BMI-Calculator style */
.BMI-Calculator {
    color: white;
    margin-top: 70px;
}

.cal-tital {
    text-align: center;
}
.cal-tital h1{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.calculator{
    background-color: #222222;
    height: 400px;
    padding: 0% 10% 0% 10%;
     display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
}
.BMI-Tabel table{
 border-collapse: collapse;
    margin-top: 20px;
}
td, th{
    border:  2px solid rgba(128, 128, 128, 0.349);
    padding: 5px;
}
th{
    color: white;
    font-size: 0.9rem;
    text-align: left;
}
td{
    color: gray;
    font-size: 0.7rem;
}
.BMI-from{
    display: flex;
    flex-direction: column;
    align-items: start;
}

 .from-BMI{
display: grid;
   grid-template-columns: repeat(2, 2fr);
}
.BMI-from p{
    font-size: 0.8rem;
    margin-bottom: 10px;
}
.BMI-from .from-BMI input{
    padding: 10px;
    background-color: #ffffff3f;
    border-radius: 5px;
    margin-top: 10px;
}
.from-BMI ::placeholder{
    color: gray;
}
.calculator button{
    padding: 10px 50px;
    background-color: #E6533C;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
}

.team{
    width: 80%;
    margin: 0 auto;
}
.team-title{
    text-align: center;
    margin-top: 70px;
    color: white;
}
.team-img{
    background-color: #222222;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    column-gap: 40px;
    padding: 20px;
    margin-top: 30px;
}
.team-img h5,.team-img p{
    color: white;
}
.team-img img{
    border-radius: 10px;
    position: relative;
}

footer{
    background-color: #222222;
    margin-top: 70px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}
.foot{
    width: 80%;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.foot div{
    width: 33%;
}
.foot div ul li{
    list-style: none;
    margin-top: 14px;
    color: gray;
}
.foot div p{
    margin-top: 20px;
}
.fhead{
    color: #E6533C;
    font-size: 4rem;
    font-style: italic;
}
hr{
    color: rgba(128, 128, 128, 0.26);
    width: 80%;
    margin-top: 70px;
    margin-bottom: 30px;
}

@media screen and (max-width: 576px) {
    nav ul {
        display: none;
    }

    .icon {
        display: inline;
        color: white;
    }

    .banner {
        flex-direction: column;
    }

    .banner-description,
    .Habits {
        width: 100%;
    }

    .banner-img {
        width: 100%;
        margin: 0 auto;
    }

    .habits-img {
        grid-template-columns: repeat(1, 4fr);
        gap: 20px;
    }

    .run-card {
        flex-direction: column;
        gap: 20px;
    }

    .card-text, .foot div {
        width: 100%;
    }

    .card-img {
        width: 100%;
        height: 200px;
    }

    .card-text button {
        padding: 10px 120px;
        width: 100%;
    }
    .calculator, .foot{
        flex-direction: column;
        height: auto;
        gap: 20px;
    }
    .team-img{
        grid-template-columns: repeat(1, 6fr);
    }
    footer{
        height: auto;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .banner {
        flex-direction: column;
    }

    .banner-description,
    .Habits {
        width: 100%;
    }

    .banner-img,
    .Habits {
        width: 100%;
        margin: 0 auto;
    }

    .habits-img {
        grid-template-columns: repeat(2, 2fr);
        gap: 20px;
    }

    .card-img {
        background-size: cover;
    }

    .calculator {
        flex-direction: column;
        height: auto;
        gap: 20px;
    }
}